@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
}

:root {
  --radius: 0.625rem;
  --background: #f0f2efff;
  --foreground: #5c5346ff;
  --card: #ffffff;
  --card-foreground: #5c5346ff;
  --popover: #ffffff;
  --popover-foreground: #5c5346ff;
  --primary: #5c5346ff;
  --primary-foreground: #f0f2efff;
  --secondary: #afd5aaff;
  --secondary-foreground: #5c5346ff;
  --muted: #e6e8e5;
  --muted-foreground: #a69f98ff;
  --accent: #afd5aaff;
  --accent-foreground: #5c5346ff;
  --destructive: #ef4444;
  --destructive-foreground: #f0f2efff;
  --border: #a69f98ff;
  --input: #a69f98ff;
  --ring: #afd5aaff;
  --chart-1: #5c5346ff;
  --chart-2: #afd5aaff;
  --chart-3: #a69f98ff;
  --chart-4: #f0f2efff;
  --chart-5: #e6e8e5;
  --sidebar: #f0f2efff;
  --sidebar-foreground: #5c5346ff;
  --sidebar-primary: #5c5346ff;
  --sidebar-primary-foreground: #f0f2efff;
  --sidebar-accent: #afd5aaff;
  --sidebar-accent-foreground: #5c5346ff;
  --sidebar-border: #a69f98ff;
  --sidebar-ring: #afd5aaff;
}

.dark {
  --background: #09090b;
  --foreground: #fafafa;
  --card: #18181b;
  --card-foreground: #fafafa;
  --popover: #18181b;
  --popover-foreground: #fafafa;
  --primary: #afd5aaff;
  --primary-foreground: #18181b;
  --secondary: #27272a;
  --secondary-foreground: #fafafa;
  --muted: #27272a;
  --muted-foreground: #a1a1aa;
  --accent: #27272a;
  --accent-foreground: #fafafa;
  --destructive: #ef4444;
  --destructive-foreground: #fafafa;
  --border: #3f3f46;
  --input: #27272a;
  --ring: #afd5aaff;
  --chart-1: #afd5aaff;
  --chart-2: #60a5fa;
  --chart-3: #a1a1aa;
  --chart-4: #fafafa;
  --chart-5: #27272a;
  --sidebar: #09090b;
  --sidebar-foreground: #fafafa;
  --sidebar-primary: #afd5aaff;
  --sidebar-primary-foreground: #18181b;
  --sidebar-accent: #27272a;
  --sidebar-accent-foreground: #fafafa;
  --sidebar-border: #3f3f46;
  --sidebar-ring: #afd5aaff;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
